Repository Justsvetoslavov/Introduction_to_programming, pull requests merged in 2022-11, with the labels that each got.

#103 Pract.04: Add 13-15 | Miroslav Stoyanovski
  SI/Sem.04/Pract.04/Task13.cpp
  SI/Sem.04/Pract.04/Task14.cpp
  SI/Sem.04/Pract.04/Task15.cpp
Labels: 💻 task: solution

#106 Pract 04: 11-13 | Kristian Petrov
  SI/Sem.04/Pract.04/Task11.cpp
  SI/Sem.04/Pract.04/Task12.cpp
  SI/Sem.04/Pract.04/Task13.cpp
Labels: 💻 task: solution

#133 Doc Fix Pract 05 Array lesson
  IS/Sem.05/README.md
  SI/Sem.05/README.md
Labels: :scroll: documentation

#121 Task01.cpp
  IS/Sem.05/Pract.05/Task01.cpp
Labels: 💻 task: solution

#145 Pract.04 | Add 01-03 & 11-15
  SI/Sem.04/Pract.04/Task01.cpp
  SI/Sem.04/Pract.04/Task02.cpp
  SI/Sem.04/Pract.04/Task03.cpp
  SI/Sem.04/Pract.04/Task11.cpp
  SI/Sem.04/Pract.04/Task12.cpp
  SI/Sem.04/Pract.04/Task13.cpp
  SI/Sem.04/Pract.04/Task14.cpp
  SI/Sem.04/Pract.04/Task15.cpp
Labels: 💻 task: solution

#120 Add Sem & Pract 06
  SI/Sem.06/Pract.06/README.md
  SI/Sem.06/README.md
Labels: :scroll: documentation

#144 Pract.05 | Add 04-10 | Nikola Svetoslavov
  SI/Sem.04/Pract.04/Task04.cpp
  SI/Sem.04/Pract.04/Task05.cpp
  SI/Sem.04/Pract.04/Task06.cpp
  SI/Sem.04/Pract.04/Task07.cpp
  SI/Sem.04/Pract.04/Task08.cpp
  SI/Sem.04/Pract.04/Task09.cpp
  SI/Sem.04/Pract.04/Task10.cpp
Labels: 💻 task: solution

#147 Pract.05: Add 04-06 | Ivan Stoynev
  IS/Sem.05/Pract.05/Task04.cpp
  IS/Sem.05/Pract.05/Task05.cpp
  IS/Sem.05/Pract.05/Task06.cpp
Labels: 💻 task: solution

#157 Pract.05: Add 07 - 08 | Daniel Jordanov
  SI/Sem.05/Pract.05/Task07.cpp
  SI/Sem.05/Pract.05/Task08.cpp
Labels: 💻 task: solution

#140 Prac05: Add 01-03 | Presiyana Borisova
  SI/Sem.05/Pract.05/Task01.cpp
  SI/Sem.05/Pract.05/Task02.cpp
  SI/Sem.05/Pract.05/Task03.cpp
Labels: 💻 task: solution

#163 Pract. 05: Add Tic Tac Toe | Georgi Baltiev
  TicTacToeGame.cpp
Labels: 💻 task: solution

#174 Add Pointer&Reference notes
  IS/Sem.07/README.md
  IS/Sem.07/images/example1.png
  IS/Sem.07/images/example2.png
  IS/Sem.07/images/right-to-left.jfif
  IS/Sem.07/images/spiral-rule.jfif
  SI/Sem.07/README.md
  SI/Sem.07/images/example1.png
  SI/Sem.07/images/example2.png
  SI/Sem.07/images/right-to-left.jfif
  SI/Sem.07/images/spiral-rule.jfif
Labels: :scroll: documentation

#180 Add tasks practicum 07
  SI/Sem.07/Pract.07/README.md
Labels: :scroll: documentation, :question: question

#176 Dox: Add Character String notes
  IS/Sem.07/README.md
  SI/Sem.07/README.md
Labels: :scroll: documentation

#177 Pract.06: Add 06-07 | Stefka Lyaskalieva
  SI/Sem.06/Pract.06/Task06.cpp
  SI/Sem.06/Pract.06/Task07.cpp
Labels: 💻 task: solution

#181 Sem 07 tasks
  IS/Sem.07/getCharOccurrencesCount.cpp
  IS/Sem.07/myAtoi.cpp
  IS/Sem.07/myStrCat.cpp
  IS/Sem.07/myStrCmp.cpp
  IS/Sem.07/myStrCpy.cpp
  IS/Sem.07/myStrLen.cpp
  IS/Sem.07/searchInText.cpp
  SI/Sem.07/getCharOccurrencesCount.cpp
  SI/Sem.07/myAtoi.cpp
  SI/Sem.07/myStrCat.cpp
  SI/Sem.07/myStrCmp.cpp
  SI/Sem.07/myStrCpy.cpp
  SI/Sem.07/myStrLen.cpp
  SI/Sem.07/searchInText.cpp
Labels: :scroll: documentation, 💻 task: solution

#182 Add tasks practicum 7.2
  IS/Sem.07/Pract.07/Pract.07.2.md
  SI/Sem.07/Pract.07/Pract.07.2.md
Labels: :scroll: documentation
