Repository Justsvetoslavov/Introduction_to_programming, pull requests merged in 2022-10, with the labels that each got.

#1 Zadachi
  Pract. 01/task1.cpp
  Pract. 01/task2.cpp
  Pract. 01/task3.cpp
Labels: 💻 task: solution

#21 Added solution for Task01
  SI/Sem.02/Pract.02/Task01.cpp
Labels: 💻 task: solution

#23 Added solutions for Task02 and Task03
  SI/Sem.02/Pract.02/Task02.cpp
  SI/Sem.02/Pract.02/Task03.cpp
Labels: 💻 task: solution

#29 Add Github Workflow
  README.md
  create-branch-github-desktop.png
  create-branch-modal.png
  fetch-origin.png
  repository-fork-settings.png
  repository-settings-menu.png
  star-the-repo.png
Labels: :new: new, :scroll: documentation

#67 Sem 03 Solutions - IS SI
  IS/Sem.03/Solutions/GCD.cpp
  IS/Sem.03/Solutions/GCDEuclideanAlgorithm.cpp
  IS/Sem.03/Solutions/PrimeNumber.cpp
  IS/Sem.03/Solutions/Task1.cpp
  IS/Sem.03/Solutions/Task2.cpp
  IS/Sem.03/Solutions/Task3.cpp
  SI/Sem.03/Solutions/GCD.cpp
  SI/Sem.03/Solutions/GCDEuclideanAlgorithm.cpp
  SI/Sem.03/Solutions/PrimeNumber.cpp
  SI/Sem.03/Solutions/Task1.cpp
  SI/Sem.03/Solutions/Task2.cpp
  SI/Sem.03/Solutions/Task3.cpp
Labels: :scroll: documentation, 💻 task: solution

#39 Pract.03: Add 01-03 | Hari Hristov
  SI/Sem.03/Pract.03/Task01.cpp
  SI/Sem.03/Pract.03/Task02.cpp
  SI/Sem.03/Pract.03/Task03.cpp
Labels: 💻 task: solution

#40 Pract.02: Add 04-08 | Atanas Hristov
  SI/Sem.02/Pract.02/Task04.cpp
  SI/Sem.02/Pract.02/Task05.cpp
  SI/Sem.02/Pract.02/Task06.cpp
  SI/Sem.02/Pract.02/Task07.cpp
  SI/Sem.02/Pract.02/Task08.cpp
Labels: 💻 task: solution

#63 Pract.03: Add 07-09 | Atanas Hristov
  SI/Sem.03/Pract.03/Task07.cpp
  SI/Sem.03/Pract.03/Task08.cpp
  SI/Sem.03/Pract.03/Task09.cpp
Labels: 💻 task: solution

#64 Pract.03: Add 10-12 | Atanas Hristov
  SI/Sem.03/Pract.03/Task10.cpp
  SI/Sem.03/Pract.03/Task11.cpp
  SI/Sem.03/Pract.03/Task12.cpp
Labels: 💻 task: solution

#75 Format tasks pract 4
  SI/Sem.04/Pract.04/README.md
Labels: :scroll: documentation

#96 Pract.04: Add 01-03 | Daria Lazarova
  SI/Sem.04/Pract.04/Task01.cpp
  SI/Sem.04/Pract.04/Task02.cpp
  SI/Sem.04/Pract.04/Task03.cpp
Labels: 💻 task: solution

#112 Doc: Аdd Pract.05 tasks
  IS/Sem.05/Pract.05/README.md
  SI/Sem.05/Pract.05/README.md
Labels: :scroll: documentation
